#hotel_details .ui-title {
    margin: 0.6em 5% 0.8em 80px !important;
}


.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#pricing,
#stars,
#location,
#rooms {
	display: inline;
}

.info_block.pricing {
}


.listimage {
	width:80px;
	height:80px;
	float:left;
	background-size: cover;
}

.listcontent  {
	padding: 10px 0 10px 10px;
}

.listcontent p {
	margin-top:2px;
}

.buttonsContainer {
	text-align: center;
	margin:20px 0;
}

.dataContainer h2 {
	text-align:center;
}

.map-image {
	width:80%;
	height:80%;
	margin:0 10%;
}